

.text {
    margin: 0 60px;
}


p,
span,
.twitter {
    font: normal normal 10px Arial;
    text-align: center;
    color: #998578;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.twitter {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 14px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.twitter:hover {
    color: #FF7D6D;
    text-decoration: none;
}

span {
    font-style: italic;
    display: block;
}


.fl-fl {
    background: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -160px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.fa {
    font-size: 20px;
    color: #fff;
    padding: 10px 0;
    width: 40px;
    margin-left: 8px;
}

.fl-fl:hover {
    right: 0;
}

.fl-fl a {
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
}

.float-fb {
    top: 160px;
}

.float-tw {
    top: 215px;
}

.float-gp {
    top: 270px;
}

.float-rs {
    top: 325px;
}

.float-ig {
    top: 380px;
}

.float-pn {
    top: 435px;
}
/* Floating Social Media Bar Style Ends Here */

body{
    background-color: #f7f7f7;
}
#myModal img{
    width: 100%;
}
#myModal .modal-body{
    padding: 0;
}
#myModal .modal-dialog {
    max-width: 800px;
}
#myModal .formWrap{
    padding: 35px 45px;
    text-align: center;
}
#myModal h1{
    font-size: 26px;
    margin-bottom: 10px;
}
#myModal hr{
    width: 50px;
    height: 2px;
    background: #ff5722;
    border: none;
}

#myModal form{
    margin-top: 35px;
}
#myModal input{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
#myModal input:focus{
    outline: #FF5722;
    border-color: #FF5722 !important;
}
#myModal .submit{
    background: #FF5722;
    color: #fff;
    border: none;
}
#myModal h6 a{
    color: #ff5722;
    font-weight: normal;
}
#myModal h5{
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 45px;
}
#myModal p{
    margin-bottom: 0;
}
#myModal p a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50px;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin-right: 10px;
}
#myModal .facebook{
    color: #3b5998;
    border-color: #3b5998;
}
#myModal .twitter{
    color: #1da1f2;
    border-color: #1da1f2;
}
#myModal .linkedin{
    color: #0077b5;
    border-color: #0077b5;
}